<div class="content">
    
    <div class="container pt-5 me-5" >

<span>
    <h3>EDUCATION</h3>
    <h4>Bachelor of Technology (B.Tech)</h4>
<h6>Electronics and Communication</h6>
<p>DAV Institute Of Engineering & Technology
07/2021 - Present,
</p>
<p style="color: blue;">SGPA 8.45 (currently)</p> 
<h5>Projects</h5>
<h6>IoT BASED HALL  AUTOMATION <br> 
    SYSTEM WITH AI- BASED <br>
    ATTENCANCE SYSTEM <br>
</h6>	 


    <h4>Diploma</h4>
<h6>Electronics and Communication</h6>
<p>DAV Institute Of Engineering & Technology
    06/2018 - 06/2021,
</p>
<p style="color: blue;">Percentage: 83.00%</p> 
<h5>Projects</h5>
<h6>IoT BASED HALL  AUTOMATION <br> 
    SYSTEM WITH AI- BASED <br>
    ATTENCANCE SYSTEM <br>
</h6>	                   
<h4>Secondary (X)
</h4>
<p>B.S.F Senior Secondary School Jalandhar Cantt
    2018</p>
    <p style="color: blue;">(CBSE BOARD)
    </p> 



</span>

</div>
</div>