<div class="content">
    
    <div class="container pt-5 me-5" >
        
        <h1>
            
            JAPJEET SINGH
        </h1>
        ♾IOT Lead @GDSC'22-23
        Experienced In Web Development  with a demonstrated history of working in many real world projects. Skilled in Full Stack Development , Arduino and Internet of Things. Strong information technology professional with a Bachelor of Technology - BTech focused in Electronics and communication Engineering from DAV Institute of Engineering and Technology. Currently i am  Working as a Industrial Trainer At Mehr Chand Polytechnic College ,  Jalandhar.
        
    </div>
</div>